.cursor{
  cursor: pointer;
}

.bang {
  
}
.imagePost{
  width: 200px;
  height:100px;
}

@media(max-width: 576px){
  .hero-banner__content h3{
    font-size: 20px;
  }
  .hero-banner__content h1{
    font-size: 16px;
  }
  .hero-banner {
    height: 244px;
    background-size: contain;
  }
  .hero-banner__content h4{
    font-size: 13px;
  }
}
